* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color: #ffffff;
    --secondary-color: #212121;
    --about-us-para: #666;
    --footer-color: #212122;
    --gallary-transparent: rgba(0,0,0,0.5);
    --gallary-background2: rgba(255, 255, 255, 0.5);
    --gallary-background1: rgba(255, 255, 255, 1.5);
  }
  .dark-theme{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --about-us-para: #ffafaf;
    --footer-color: #555555;
    --gallary-transparent: rgba(0,0,0,0.5);
    --gallary-background2: rgba(0, 0, 0, 0.5);
    --gallary-background1: rgba(255, 255, 255, 1.5);
  }

.KUlogo {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.KUlogo img {
    margin: 5px;
    width: auto;
    border-radius: 0;
}

.sub-header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    display: flex;
    padding: 10px 4%;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: 100;
}

/* nav>a{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
} */

.kulogo2 {
    width: 150px;
    border-radius: 0px;
    margin-right: 25px;
}

nav h2 {
    font-size: 2rem;
    color: var(--secondary-color);
}

nav a {
    text-decoration: none;
    font-size: 27px;
    color: var(--secondary-color);
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul{
    margin-bottom: 0;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    /* position: relative; */
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: var(--secondary-color);
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* nav .fa {
    display: none;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 20px 0 40px;
    font-size: 14px;
    color: #fff;
} */

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: black;
    cursor: pointer;
    display: none;
}

@media(max-width: 1250px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }


    #check:checked~.icons #close-icon {
        display: block;
    }

    nav .nav-links ul {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        display: flex;
        background: rgba(235, 224, 224, 0.2);
        backdrop-filter: blur(80px);
        z-index: 100;
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: .3s ease;
        overflow: hidden;
        justify-content: space-evenly;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    }

    #check:checked~.nav-links ul {
        height: 17.7rem;
    }

}

@media(max-width: 700px) {
  .KUlogo{
    display: flex;
  }

  .kulogo2{
    display: none;
  }
}